	.login_div1 , .login_div2
	{
		background: rgb(182, 230, 9);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background:paleturquoise;
border-radius: 10px;
border-top: 10px solid #AA4465;
padding: 10px;
float: none;
text-align: left;
}

.background {
    background-image: url("mathematics-background-fractions-white-table-close-up-dividing-fractions-math-concept-mathematics-background-fractions-white-174284217.jpg");
    background-position: center;
    background-size: cover;
  }